# 03 Using Pandas

### Data Alignment with Python pandas DataFrame

# Overview

* Reading from CSV file
* Align two Data Frames

# Setup

In [11]:
import pandas as pd
import numpy as np
from IPython.display import display, HTML

# turn on data table rendering
pd.set_option('display.notebook_repr_html', True) 

# This function is to show two data structures side by side
# Used in Web McKinney's presentations: http://www.youtube.com/watch?v=w26x-z-BdWQ
def side_by_side(*objs, **kwds):
    #from pandas.core.common import adjoin
    # adjoin moved to pandas.io.formats.printing
    from pandas.io.formats.printing import adjoin
    space = kwds.get('space', 4)
    reprs = [repr(obj).split('\n') for obj in objs]
    print(adjoin(space, *reprs))

# Reading from CSV file

In [2]:
# Reading stock data from csv. Used in a pandas tutorial by Wes McKinney. 
df = pd.read_csv('data\stock_data.csv', index_col=0, parse_dates=True)

# Take a look at the last 5 rows
df.tail()

               AA    AAPL     GE     IBM    JNJ   MSFT    PEP      SPX    XOM
2011-10-10  10.09  388.81  16.14  186.62  64.43  26.94  61.87  1194.89  76.28
2011-10-11  10.30  400.29  16.14  185.00  63.96  27.00  60.95  1195.54  76.27
2011-10-12  10.05  402.19  16.40  186.12  64.33  26.96  62.70  1207.25  77.16
2011-10-13  10.10  408.43  16.22  186.82  64.23  27.18  62.36  1203.66  76.37
2011-10-14  10.26  422.00  16.60  190.53  64.72  27.27  62.24  1224.58  78.11

In [3]:
# Query the number of rows
len(df)

1000

In [4]:
# Slices of the DataFrame of IBM stock
s1 = df.IBM[10:20]
s2 = df.IBM[5:15]
s1.head()
s2.head()

2007-11-05    105.48
2007-11-06    105.27
2007-11-07    103.69
2007-11-08     99.05
2007-11-09     93.58
Name: IBM, dtype: float64

In [5]:
# Union (of the index) and sum where both values are not NaN
s1 + s2

2007-11-05       NaN
2007-11-06       NaN
2007-11-07       NaN
2007-11-08       NaN
2007-11-09       NaN
2007-11-12    189.40
2007-11-13    196.54
2007-11-14    193.12
2007-11-15    193.42
2007-11-16    195.64
2007-11-19       NaN
2007-11-20       NaN
2007-11-21       NaN
2007-11-23       NaN
2007-11-26       NaN
Name: IBM, dtype: float64

In [6]:
# Same thing but now stripped of the NaN values
(s1 + s2).dropna()

2007-11-12    189.40
2007-11-13    196.54
2007-11-14    193.12
2007-11-15    193.42
2007-11-16    195.64
Name: IBM, dtype: float64

# Align

In [7]:
# Align s1 and s2 with an outer join = default
a, b = s1.align(s2, join='outer')
side_by_side(a, b)

2007-11-05      NaN          2007-11-05    105.48
2007-11-06      NaN          2007-11-06    105.27
2007-11-07      NaN          2007-11-07    103.69
2007-11-08      NaN          2007-11-08     99.05
2007-11-09      NaN          2007-11-09     93.58
2007-11-12    94.70          2007-11-12     94.70
2007-11-13    98.27          2007-11-13     98.27
2007-11-14    96.56          2007-11-14     96.56
2007-11-15    96.71          2007-11-15     96.71
2007-11-16    97.82          2007-11-16     97.82
2007-11-19    95.42          2007-11-19       NaN
2007-11-20    96.54          2007-11-20       NaN
2007-11-21    95.42          2007-11-21       NaN
2007-11-23    97.13          2007-11-23       NaN
2007-11-26    95.19          2007-11-26       NaN
Name: IBM, dtype: float64    Name: IBM, dtype: float64

In [8]:
# Align s1 and s2 with an inner join
a, b = s1.align(s2, join='inner')
side_by_side(a, b)

2007-11-12    94.70          2007-11-12    94.70
2007-11-13    98.27          2007-11-13    98.27
2007-11-14    96.56          2007-11-14    96.56
2007-11-15    96.71          2007-11-15    96.71
2007-11-16    97.82          2007-11-16    97.82
Name: IBM, dtype: float64    Name: IBM, dtype: float64

In [9]:
# Align s1 and s2 with a left join
a, b = s1.align(s2, join='left')
side_by_side(a, b)

2007-11-12    94.70          2007-11-12    94.70
2007-11-13    98.27          2007-11-13    98.27
2007-11-14    96.56          2007-11-14    96.56
2007-11-15    96.71          2007-11-15    96.71
2007-11-16    97.82          2007-11-16    97.82
2007-11-19    95.42          2007-11-19      NaN
2007-11-20    96.54          2007-11-20      NaN
2007-11-21    95.42          2007-11-21      NaN
2007-11-23    97.13          2007-11-23      NaN
2007-11-26    95.19          2007-11-26      NaN
Name: IBM, dtype: float64    Name: IBM, dtype: float64

In [10]:
# Align s1 and s2 with a right join and set value to 0 if NaN
a, b = s1.align(s2, join='right', fill_value=0)
side_by_side(a, b)

2007-11-05     0.00          2007-11-05    105.48
2007-11-06     0.00          2007-11-06    105.27
2007-11-07     0.00          2007-11-07    103.69
2007-11-08     0.00          2007-11-08     99.05
2007-11-09     0.00          2007-11-09     93.58
2007-11-12    94.70          2007-11-12     94.70
2007-11-13    98.27          2007-11-13     98.27
2007-11-14    96.56          2007-11-14     96.56
2007-11-15    96.71          2007-11-15     96.71
2007-11-16    97.82          2007-11-16     97.82
Name: IBM, dtype: float64    Name: IBM, dtype: float64

# Done!

#### Next: _Applying functions to the Data Frame_